include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.no-scroll
    include ../components/global/loader
    include ../components/global/header
    //main
    main.contacts-page
      include ../pages/contacts/contacts
    include ../components/global/footer
    include ../components/global/scripts
