section.cases
  .container
    h2.cases__title.wow.bounceInUp(data-wow-delay="0.2s") Discover our use cases
    ul.cases-blocks
      li.cases-blocks__item.wow.bounceInUp(data-wow-delay="0.3s")
        picture
          source(srcset="./img/cases/cases-1.webp, ./img/cases/cases-1-2x.webp 2x" type="image/webp")
          img.cases-blocks__img(srcset="./img/cases/cases-1-2x.jpg 2x" src="./img/cases/cases-1.jpg", alt="Case 1", loading="lazy", width="294", height="239")
        p Trade assets reliably based on any on-chain or off-chain triggers, backed by economic guarantees for utmost reliability
      li.cases-blocks__item.wow.bounceInUp(data-wow-delay="0.3s")
        picture
          source(srcset="./img/cases/cases-2.webp, ./img/cases/cases-2-2x.webp 2x" type="image/webp")
          img.cases-blocks__img(srcset="./img/cases/cases-2-2x.jpg 2x" src="./img/cases/cases-2.jpg", alt="Case 2", loading="lazy", width="294", height="239")
        p Prevent collateral liquidation, minting new NFTs, or executing token trades in response to specific on-chain behaviors
      li.cases-blocks__item.wow.bounceInUp(data-wow-delay="0.3s")
        picture
          source(srcset="./img/cases/cases-3.webp, ./img/cases/cases-3-2x.webp 2x" type="image/webp")
          img.cases-blocks__img(srcset="./img/cases/cases-3-2x.jpg 2x" src="./img/cases/cases-3.jpg", alt="Case 3", loading="lazy", width="294", height="239")
        p Leverage intent-driven approach and execute smart contracts when certain triggers are met
    ul.cases-list.wow.bounceInUp(data-wow-delay="0.3s")
      li.cases-list__item
        picture
          source(srcset="./img/cases/cases-list-img-1.webp, ./img/cases/cases-list-img-1-2x.webp 2x" type="image/webp")
          img.cases-list__img(srcset="./img/cases/cases-list-img-1-2x.png 2x" src="./img/cases/cases-list-img-1.png", alt="Case 1", loading="lazy", width="72", height="72")

        p.cases-list__text Executing token trades in response to on-chain behaviors
      li.cases-list__item
        picture
          source(srcset="./img/cases/cases-list-img-2.webp, ./img/cases/cases-list-img-2-2x.webp 2x" type="image/webp")
          img.cases-list__img(srcset="./img/cases/cases-list-img-2-2x.png 2x" src="./img/cases/cases-list-img-2.png", alt="Case 2", loading="lazy", width="72", height="72")
        p.cases-list__text Execute smart contracts when the trigger conditions are met
      li.cases-list__item
        picture
          source(srcset="./img/cases/cases-list-img-3.webp, ./img/cases/cases-list-img-3-2x.webp 2x" type="image/webp")
          img.cases-list__img(srcset="./img/cases/cases-list-img-3-2x.png 2x" src="./img/cases/cases-list-img-3.png", alt="Case 3", loading="lazy", width="72", height="72")
        p.cases-list__text Execution of time-sensitive actions with economic guarantees
