section.network
  .container
    h2.network__title.wow.bounceInUp(data-wow-delay="0.2s") Ditto Network provides strong guarantees on inclusion of intent-driven actions, at the risk of getting slashed
    ul.network-blocks
      li.network-blocks__item.wow.backLeft(data-wow-delay="0.3s")
        .network-blocks__wrapper
          +icon('trustless')
          h3.network-blocks__title Trustless
          p.network-blocks__text We are implementing a randomized deterministic flexible workload distribution among multiple independent executors proportional to the delegated stake ensures no race conditions and efficient execution
      li.network-blocks__item.wow.backLeft(data-wow-delay="0.3s")
        .network-blocks__wrapper
          +icon('efficient')
          h3.network-blocks__title Capital efficient
          p.network-blocks__text Node operators can run multiple Actively Validated Services (AVSs) simultaneously. This ensures optimal resource allocation and maximizes network efficiency, setting us apart from other solutions on the market.
      li.network-blocks__item.wow.backRight(data-wow-delay="0.4s")
        .network-blocks__wrapper
          +icon('guarantees')
          h3.network-blocks__title Economic Guarantees
          p.network-blocks__text On your time-sensitive actions. Ditto AVS is decentralized, and made up of hundreds of operators registered in EigenLayer whose delegated stake imposes an economic cost to misbehavior

