section.network.onchain
  .container
    h2.network__title.wow.bounceInUp(data-wow-delay="0.2s") We help to automate and execute any on-chain job reliably with strong financial guarantees
    ul.network-blocks
      li.network-blocks__item.wow.bounceInUp(data-wow-delay="0.3s")
        .network-blocks__wrapper
          h3.network-blocks__title Secure Execution Protocol
          p.network-blocks__text Save time on DevOps with more secure and trustless execution by the Ditto Execution network. Our best-in-class operators handle your transactions with up to a $5 million financial guarantee on every execution
          .btn.btn_primary
            span.btn__text Read article
            a(href=process.env.LINK_ARTICLE target="_blank").btn__link
              +icon('btn-arrow')
      li.network-blocks__item.wow.bounceInUp(data-wow-delay="0.3s")
        .network-blocks__wrapper
          h3.network-blocks__title Embedded DeFi
          p.network-blocks__text Add new functions to your DeFi app in just a few clicks. Build your decentralized trading applications or workflow automation platform using Ditto account abstraction modules as building blocks
          .btn.btn_primary
            span.btn__text SDK
            a(href=process.env.LINK_SDK target="_blank").btn__link
              +icon('btn-arrow')
      li.network-blocks__item.wow.bounceInUp(data-wow-delay="0.4s")
        .network-blocks__wrapper
          h3.network-blocks__title Automation kit with Power AI Agents
          p.network-blocks__text Enable the execution of users' intents based on statements from LLMs and ChatGPT-like experiences to lower entry barriers into Web3 and smoother UX
            br
            br
            | Ditto provides a unified integration framework to automate execution of conditional intents for Web3 users. Our AA modules library covers programmable orders, liquidation protection, auto-compounding, and many more.

