section.partners
  .container
    h2.partners__title.wow.bounceInUp(data-wow-delay="0.2s") Built and supported by the best in Web3
  .partners-list__wrapper
    ul.partners-list
      li.partners-list__item
        a(href="https://arbitrum.io/" target="_blank")
          img(src="./img/partners/partners-1.svg", loading="lazy" alt="Arbitrum")
      li.partners-list__item
        a(href="https://axelar.network/" target="_blank")
          img(src="./img/partners/partners-2.svg", loading="lazy" alt="Axelar")
      li.partners-list__item
        a(href="https://li.fi/" target="_blank")
          img(src="./img/partners/partners-3.svg", loading="lazy" alt="LIFi")
      li.partners-list__item
        a(href="https://blockchainff.com/" target="_blank")
          img(src="./img/partners/partners-4.svg", loading="lazy" alt="Blockchain Founders Fund")
      li.partners-list__item
        a(href="https://ngc.fund/" target="_blank")
          img(src="./img/partners/partners-5.svg", loading="lazy" alt="NGC Ventures")
      li.partners-list__item
        a(href="https://www.nxgen.xyz/" target="_blank")
          img(src="./img/partners/partners-6.svg", loading="lazy" alt="NxGen")
      li.partners-list__item
        a(href="https://prom.io/" target="_blank")
          img(src="./img/partners/partners-7.svg", loading="lazy" alt="Prom")
      li.partners-list__item
        a(href="https://symbiotic.fi/" target="_blank")
          img(src="./img/partners/partners-17.svg", loading="lazy" alt="Symbiotic")
      li.partners-list__item
        a(href="https://karak.network/" target="_blank")
          img(src="./img/partners/partners-18.svg", loading="lazy" alt="Karak")
      li.partners-list__item
        a(href="okx.com" target="_blank")
          img(src="./img/partners/partners-8.svg", loading="lazy" alt="OKX")
      li.partners-list__item
        a(href="https://www.othentic.xyz/" target="_blank")
          img(src="./img/partners/partners-9.svg", loading="lazy" alt="Othentic")
      li.partners-list__item
        a(href="https://safe.global/" target="_blank")
          img(src="./img/partners/partners-10.svg", loading="lazy" alt="Safe")
      li.partners-list__item
        a(href="https://www.eigenlayer.xyz/" target="_blank")
          img(src="./img/partners/partners-11.svg", loading="lazy" alt="EigenLayer")
      li.partners-list__item
        a(href="https://www.swellnetwork.io/" target="_blank")
          img(src="./img/partners/partners-12.svg", loading="lazy" alt="Swell")
      li.partners-list__item
        a(href="https://www.ether.fi/" target="_blank")
          img(src="./img/partners/partners-13.svg", loading="lazy" alt="EtherFi")
      li.partners-list__item
        a(href="https://www.staderlabs.com/" target="_blank")
          img(src="./img/partners/partners-14.svg", loading="lazy" alt="Stader")
      li.partners-list__item
        a(href="https://www.privy.io/" target="_blank")
          img(src="./img/partners/partners-16.svg", loading="lazy" alt="Privy")
      li.partners-list__item
        a(href="https://arbitrum.io/" target="_blank")
          img(src="./img/partners/partners-1.svg", loading="lazy" alt="Arbitrum")
      li.partners-list__item
        a(href="https://axelar.network/" target="_blank")
          img(src="./img/partners/partners-2.svg", loading="lazy" alt="Axelar")
      li.partners-list__item
        a(href="https://li.fi/" target="_blank")
          img(src="./img/partners/partners-3.svg", loading="lazy" alt="LIFi")
      li.partners-list__item
        a(href="https://blockchainff.com/" target="_blank")
          img(src="./img/partners/partners-4.svg", loading="lazy" alt="Blockchain Founders Fund")
      li.partners-list__item
        a(href="https://ngc.fund/" target="_blank")
          img(src="./img/partners/partners-5.svg", loading="lazy" alt="NGC Ventures")
      li.partners-list__item
        a(href="https://www.nxgen.xyz/" target="_blank")
          img(src="./img/partners/partners-6.svg", loading="lazy" alt="NxGen")
      li.partners-list__item
        a(href="https://prom.io/" target="_blank")
          img(src="./img/partners/partners-7.svg", loading="lazy" alt="Prom")
      li.partners-list__item
        a(href="https://symbiotic.fi/" target="_blank")
          img(src="./img/partners/partners-17.svg", loading="lazy" alt="Symbiotic")
      li.partners-list__item
        a(href="https://karak.network/" target="_blank")
          img(src="./img/partners/partners-18.svg", loading="lazy" alt="Karak")
      li.partners-list__item
        a(href="okx.com" target="_blank")
          img(src="./img/partners/partners-8.svg", loading="lazy" alt="OKX")
