section.partners
  .container
    h2.partners__title.wow.bounceInUp(data-wow-delay="0.2s") Built and supported by the best in Web3
  .partners-list__wrapper
    ul.partners-list
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-1.svg", loading="lazy" alt="partner 1")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-2.svg", loading="lazy" alt="partner 2")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-3.svg", loading="lazy" alt="partner 3")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-4.svg", loading="lazy" alt="partner 4")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-5.svg", loading="lazy" alt="partner 5")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-6.svg", loading="lazy" alt="partner 6")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-7.svg", loading="lazy" alt="partner 7")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-8.svg", loading="lazy" alt="partner 8")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-9.svg", loading="lazy" alt="partner 9")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-10.svg", loading="lazy" alt="partner 10")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-11.svg", loading="lazy" alt="partner 11")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-12.svg", loading="lazy" alt="partner 12")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-13.svg", loading="lazy" alt="partner 13")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-14.svg", loading="lazy" alt="partner 14")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-15.svg", loading="lazy" alt="partner 15")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-16.svg", loading="lazy" alt="partner 16")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-1.svg", loading="lazy" alt="partner 1")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-2.svg", loading="lazy" alt="partner 2")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-3.svg", loading="lazy" alt="partner 3")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-4.svg", loading="lazy" alt="partner 4")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-5.svg", loading="lazy" alt="partner 5")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-6.svg", loading="lazy" alt="partner 6")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-7.svg", loading="lazy" alt="partner 7")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-8.svg", loading="lazy" alt="partner 8")
    ul.partners-list
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-1.svg", loading="lazy" alt="partner 1")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-2.svg", loading="lazy" alt="partner 2")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-3.svg", loading="lazy" alt="partner 3")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-4.svg", loading="lazy" alt="partner 4")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-5.svg", loading="lazy" alt="partner 5")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-6.svg", loading="lazy" alt="partner 6")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-7.svg", loading="lazy" alt="partner 7")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-8.svg", loading="lazy" alt="partner 8")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-9.svg", loading="lazy" alt="partner 9")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-10.svg", loading="lazy" alt="partner 10")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-11.svg", loading="lazy" alt="partner 11")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-12.svg", loading="lazy" alt="partner 12")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-13.svg", loading="lazy" alt="partner 13")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-14.svg", loading="lazy" alt="partner 14")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-15.svg", loading="lazy" alt="partner 15")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-16.svg", loading="lazy" alt="partner 16")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-1.svg", loading="lazy" alt="partner 1")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-2.svg", loading="lazy" alt="partner 2")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-3.svg", loading="lazy" alt="partner 3")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-4.svg", loading="lazy" alt="partner 4")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-5.svg", loading="lazy" alt="partner 5")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-6.svg", loading="lazy" alt="partner 6")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-7.svg", loading="lazy" alt="partner 7")
      li.partners-list__item
        a(href="")
          img(src="./img/partners/partners-8.svg", loading="lazy" alt="partner 8")
