section.restake
  .container
    h2.hidden Restaking
    ul.restake-blocks
      li.restake-blocks__item.wow.bounceInUp(data-wow-delay="0.2s")
        h3.restake-blocks__title Restake ETH in AVS
        p.restake-blocks__text Take part in leveraging ETH's cryptoeconomic trust, in exchange for compensation and reward
        .restake-blocks__bottom
          a(href=process.env.LINK_RESTAKE).btn.btn_secondary
            span.btn__text Restake
            span.btn__link
              +icon('btn-arrow')
          picture
            source(srcset="./img/restake-1.webp, ./img/restake-1-2x.webp 2x" type="image/webp")
            img.restake-blocks__img(srcset="./img/restake-1-2x.png 2x" src="./img/restake-1.png", alt="Case 2", loading="lazy", width="186", height="180")
      li.restake-blocks__item.wow.bounceInUp(data-wow-delay="0.2s")
        h3.restake-blocks__title Restake ETH in AVS
        p.restake-blocks__text Take part in leveraging ETH's cryptoeconomic trust, in exchange for compensation and reward
        .restake-blocks__bottom
          a(href=process.env.LINK_OPERATORS_FORM).btn.btn_secondary
            span.btn__text Operators form
            span.btn__link
              +icon('btn-arrow')
          picture
            source(srcset="./img/restake-2.webp, ./img/restake-2-2x.webp 2x" type="image/webp")
            img.restake-blocks__img(srcset="./img/restake-2-2x.png 2x" src="./img/restake-2.png", alt="Case 2", loading="lazy", width="186", height="180")
    .restake-meeting.wow.bounceInUp(data-wow-delay="0.2s")
      p.restake-meeting__text Integrate Ditto to your network
      a(href=process.env.LINK_BOOK_A_MEETING).btn.btn_secondary
        span.btn__text Book a meeting
        span.btn__link
          +icon('btn-arrow')




