section.validation
  .container
    h2.validation__title.wow.bounceInUp(data-wow-delay="0.2s") Maximize your Capital Efficiency through
      br
      | validation and restaking at Ditto AVS
    picture
      source(srcset="./img/validation.webp, ./img/validation-2x.webp 2x" type="image/webp")
      img.validation__img.wow.bounceInUp(srcset="./img/validation-2x.jpg 2x" src="./img/validation-2.jpg", alt="Maximize your Capital", loading="lazy", width="186", height="180" data-wow-delay="0.4s")

