.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-btn-arrow {
	font-size:(14/10)*1rem;
	width:(22/14)*1em;
}
.icon-chevron {
	font-size:(7/10)*1rem;
	width:(11/7)*1em;
}
.icon-dc {
	font-size:(24/10)*1rem;
	width:(25/24)*1em;
}
.icon-efficient {
	font-size:(34/10)*1rem;
	width:(30/34)*1em;
}
.icon-g-hub {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-git {
	font-size:(24/10)*1rem;
	width:(25/24)*1em;
}
.icon-guarantees {
	font-size:(34/10)*1rem;
	width:(36/34)*1em;
}
.icon-logo {
	font-size:(40/10)*1rem;
	width:(118/40)*1em;
}
.icon-logo-footer {
	font-size:(72/10)*1rem;
	width:(209/72)*1em;
}
.icon-medium {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-tg {
	font-size:(20/10)*1rem;
	width:(25/20)*1em;
}
.icon-trustless {
	font-size:(34/10)*1rem;
	width:(34/34)*1em;
}
.icon-tw {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
