.btn {
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  display: inline-block;
  border: none;
  border-radius: 360px;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
  padding: 0 24px;
  font-size: 16px;
  background: transparent;
  min-width: 140px;
  &:focus {
    box-shadow: none;
  }
}

.btn_primary, .btn_secondary {
  position: relative;
  padding: 0;
  overflow: hidden;
  @include mq('768') {
    width: fit-content;
  }
  .btn__text {
    background: $btn-1-bg;
    color: $btn-1-cl;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: translateX(0);
    padding: 0 15px;
    border-radius: 360px;
    transition: transform 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn__link {
    background: $btn-hover-bg;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.2s linear;
  }
  .icon {
    width: 32px;
    height: 16px;
  }

  &:hover {
    .btn__text {
      transform: translateX(-100%);
    }
    .btn__link {
      pointer-events: all;
    }
  }
}

.btn_secondary {
  .btn__text {
    background: $btn-2-bg;
    color: $btn-2-cl;
  }
}


.btn_third {
  background: $btn-1-bg;
  color: $btn-1-cl;
  &:hover, &:focus {
    background: $btn-1-bg-hover;
    color: $btn-1-cl;
  }
}
